
obj
BlockWars Fabric Installer.csproj.user
.vs/BlockWars Fabric Installer/v17
bin/Debug/net6.0-windows
Properties/PublishProfiles
bin/Release/net6.0-windows
.vs/BlockWars Fabric Installer
.idea/.idea.BlockWars Fabric Installer/.idea
